html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
}
body a{
	display:block;
}

.main-header{
	background-color: #043873;
	height:56px;
}

.container{
    max-width:320px;
    width:100%;
    margin:0 auto;
    display:block;
    
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
	padding:16px;
}
.btn{
	width:fit-content;
	height:70px;
	padding:20px 40px;
	background: #4F9CF9;
	border-radius: 8px;
	color:white;
	text-decoration: none;
	font-size:18px;
	line-height: 30px;
	letter-spacing: -2%;
	font-weight:400;
	z-index: 1;
}

.main-header .flex-container{
	flex-direction:row;
	gap:112px;
}

.hero-section{
	background-color: #043873;
	height:839px;
	
}
.hero-section__background img{
	padding:0px;
	position:absolute;
	top:56px;
	z-index: 0;
}
.hero-section .flex-container{
	justify-content: center;
	gap:100px;
}
.hero-section__content{
	margin-top: 70px;
	height:388px;
	display: flex;
	flex-direction: column;
	align-items: center ;
	gap:50px;
	justify-content: flex-end;
}
.hero-section__content h1{
	padding:0px 14px;
	font-size:36px;
	font-weight:700;
	letter-spacing: -2%;
	color:white;
	
}
.hero-section__content p{
	font-size:18px;
	letter-spacing: -2%;
	line-height:30px;
	color:white;
	margin-bottom: 10px;
	text-align: center;
}
.hero-section .btn{
	justify-content: flex-end;
}
.hero-section__image{
	width:286px;
	height:191px;
	background: #C4DEFD;
}
.feature-section h1, .plan-section__content h1{
	font-size:36px;
	font-weight:700;
	letter-spacing: -2%;
	text-align: center;
	z-index: 1;
	margin-bottom: 24px;
}
.feature-section p, .plan-section__content p{
	font-size:18px;
	letter-spacing: -2%;
	line-height: 30px;
	text-align: center;
	margin-bottom: 60px;
	z-index: 1;
}
.feature-section__image{
	width:286px;
	height:191px;
	background: #C4DEFD;
}
.feature-section__content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feature-section .flex-container{
	gap:60px;
}
.feature-section:nth-child(2){
	height:fit-content;
}

.feature-section:nth-child(2) .feature-section__background>img{
	position: absolute;
	top:908px;
	z-index: 0;
}
.feature-section:nth-child(2) .feature-section__content>img{
	position:absolute;
	top:1022px;
	z-index: 0;
}
.feature-section:nth-child(2) .feature-section__content{
	margin-top: 54px;
}

.feature-section:nth-child(3){
	height:667px;
	margin-top: 68px;
	margin-bottom: 80px;
}
.feature-section:nth-child(3) .feature-section__content>img{
	position: absolute;
	top:1736px;
	left:49.6%;
	z-index:0;
}
.feature-section:nth-child(3) .feature-section__image{
	background: none;
	width:fit-content;
	height:fit-content;
}
.feature-section:nth-child(4){
	background: #043873;
	padding: 80px 0px;
}
.feature-section:nth-child(4) img{
	position:absolute;
	top:2588px;
	left:49.65%;
}
.feature-section:nth-child(4) h1, .feature-section:nth-child(4) p{
	color:white;
}
.feature-section:nth-child(4) p{
	margin-bottom: 0;
}
.feature-section:nth-child(5){
	margin-top: 214px;
	margin-bottom: 148px;
}
.feature-section:nth-child(5) img{
	position:absolute;
	top:3678px;
	left:49.5%;
	z-index: 0;
}
.plan-section__content img{
	position:absolute;
	top:4235px;
	left:49.3%;
	z-index: 0;
}